.header {
	position: relative;
	padding: 17px 0px 17px;

	.header-inner {
		display: flex;
		align-items: center;
		align-content: center;
		flex-direction: row;
	}

	.mob-menu {
		position: relative;
		margin-left: auto;
		width: 45px;
		height: 45px;
		padding: 7px;
		cursor: pointer;

		&:after,
		&:before {
			@include centre(both);
			@include transition(all 0.3s ease-in-out);
			content: '';
			width: 38px;
			height: 3px;
			background: $c-black;
			display: block;
			transform-origin: 70% 50%;
		}

		&:after {
			margin-top: 11px;
		}
	}

	.logo-section {
		display: inline-block;

		.preamble,
		img {
			display: inline-block;
			vertical-align: middle;
		}

		.preamble {
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			color: $c-black;
			padding: 10px 0px 0px 40px;
			@include font-size(1.4, 2.2);
			letter-spacing: 2px;

			a {
				color: $c-black;

				&:hover {
					color: $c-green;
				}
			}
		}

		img {
			max-width: 45px;
		}
	}

	.mob-active & {
		.mob-menu {
			&:after {
				-webkit-transform: translate(-50%, -50%) rotate(45deg);
				-moz-transform: translate(-50%, -50%) rotate(45deg);
				-ms-transform: translate(-50%, -50%) rotate(45deg);
				-o-transform: translate(-50%, -50%) rotate(45deg);
				transform: translate(-50%, -50%) rotate(45deg);
			}

			&:before {
				-webkit-transform: translate(-50%, -50%) rotate(-45deg);
				-moz-transform: translate(-50%, -50%) rotate(-45deg);
				-ms-transform: translate(-50%, -50%) rotate(-45deg);
				-o-transform: translate(-50%, -50%) rotate(-45deg);
				transform: translate(-50%, -50%) rotate(-45deg);
			}
		}
	}

	@media (min-width: $screen-sm) {
		.preamble {
			padding: 10px 0px 0px 40px;
			@include font-size(2.8, 3.6);
			letter-spacing: 2px;
		}

		img {
			max-width: 45px;
		}
	}

	@media (min-width: $screen-md) {

		padding: 0px;

		.mob-menu {
			display: none;
		}

		.homepage & {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 2;

			.logo-section {
				.preamble {
					color: $c-white;
				}
			}
		}

		.logo-section {
			text-align: center;

			.preamble {
				letter-spacing: 3px;
				padding: 0px;
				margin: 0px;
			}

			img {
				max-width: 45px;
				align-content: center;
			}
		}
	}

	@media (min-width: $screen-lg) {

		.logo-section {
			display: flex;
			flex-direction: row;
			align-items: center;

			img {
				max-width: 55px;
				display: inline-block;
				align-content: center;
			}
		}
	}
}