.navigation {

	position: absolute;
	top: 100%;
	left: 0;
	display: block;
	width: 100%;


	.show {
		opacity: 1;
		@include transition(opacity 0.2s ease-in-out);
	}

	.hide {
		opacity: 0;
		@include transition(opacity 0.2s ease-in-out);
	}

	ul {

		@include transition(opacity 0.2s ease-in-out);
		width: 100%;
		margin: 0;
		padding: 40px 0px;

		.mob-active & {
			opacity: 1;
			transition-delay: 4s;
		}
	}

	li {
		display: block;
		border-bottom: 1px solid $c-border;

		a {
			font-weight: bold;
			color: #110f0f;
			padding: 15px 40px;
			display: block;
			text-transform: uppercase;
			text-decoration: none;

			&:hover {
				color: $c-green;

			}

			&.router-link-exact-active {
				color: $c-green;
	
			}
		}
	}

	@media (min-width: $screen-md) {

		display: block !important;
		position: relative;

		.homepage & {
			ul {
				li {
					a {
						color: $c-gold;

						&:hover {
							color: $c-white;
						}

						&.router-link-exact-active {
							color: $c-white;
						}

					}
				}
			}
		}

		ul {
			opacity: 1;
			text-align: right;
			width: 100%;
			margin: 0;
			padding: 17px 0px;

			li {
				display: inline-block;
				letter-spacing: 2px;
				border-bottom: none;
				@include font-size(1.4, 2.2);

				a {
					margin: 0px 15px;
					font-weight: bold;
					color: #110f0f;
					padding: 15px 0px;
					text-transform: uppercase;
					text-decoration: none;

					&:hover {
						color: #467a50;
					}

					&.router-link-exact-active {
						color: #467a50;
					}
				}
			}
		}
	}


	@media (min-width: $screen-lg) {

		ul {
			// padding: 20px 0px;

			li {

				letter-spacing: 4px;
				@include font-size(1.5, 2.3);

				a {
					margin: 0px 20px;
					font-weight: bold;
					color: #110f0f;
					padding: 15px 0px;
					text-transform: uppercase;
					text-decoration: none;

				}
			}
		}

	}
}