.about {
  // background: $c-gold;
  padding: 30px 0px;

  .text {
    padding: 0px 0px 30px 0px;
  }
}

@media (min-width: $screen-lg) {
  .about {
    padding: 60px 0px;

    .columns {
      display: flex;
      flex-direction: row;

      .img {
        margin-left: auto;
      }

      .text {
        padding: 30px 30px 0px 0px;
        max-width: 60%;
      }
    }
  }
}
